#l{
    background-color:aliceblue;
    width: 1515px;
    border: 10%;
    padding: 10%;



}
#ll{
    text-align: center;
    text-decoration: brown;
   
}
#lll{
    background-color: aqua;
}
#l2{
    background-color:aliceblue;
    width: 50%;
    border: 5%;
    padding:2px;
    border: 1px solid black;
    margin: 3px;
    align-content: center;
    
}